{
    "plugins": ["@babel/plugin-transform-react-jsx"],
    "presets": [
        [
          "@babel/preset-react",
          {
            "pragma": "Fake.createElement"
          }
        ]
      ]
}